.select_field {
  background: var(--header-background);
  cursor: pointer;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border: 2px solid var(--accent-color-light);
  font-family: var(--main-font);
  font-size: 1.6rem;
  outline: none;
}

.option {
  background-color: rgb(65, 65, 65);
}
