.error_page {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 25% 0 0 25%;
  background: url('../../../assets/img/404.png') no-repeat center;
  background-size: cover;
}

.error_page a {
  z-index: 1;
}
