.error_page {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: url('../../../assets/img/404.png') no-repeat center;
  background-size: cover;
}
.error_page a {
  margin-top: 27vh;
  margin-left: 25vw;
}
