.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--transparent-background);
  border-radius: 1rem;
}

.home_page_title {
  font-size: 4rem;
}

.home_page_subtitle {
  font-family: var(--main-font);
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

.accent_text {
  color: var(--accent-color-light);
  font-weight: bold;
}

.sales {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sale {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 20% 2rem 2rem;
  border-radius: 0.7rem;
  outline: 0.2rem solid #fff;
}

.sale_text {
  position: relative;
  width: 100%;
  font-size: 2.2rem;
}

.line {
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(70, 70, 70);
}

.line::after,
.line::before {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: rgb(70, 70, 70);
}

.line::after {
  left: -0.1rem;
}

.line::before {
  right: -0.1rem;
}

.sale_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  transform: translateX(50%);
}

@media screen and (max-width: 790px) {
  .home_page_title {
    font-size: 3.3rem;
  }

  .home_page_subtitle {
    font-size: 1.9rem;
  }

  .home_page {
    padding: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .sale {
    padding: 1rem 15% 2rem 1rem;
  }

  .sale_text {
    font-size: 2rem;
  }

  .sale_img {
    width: 20%;
  }
}

@media screen and (max-width: 500px) {
  .home_page_title {
    font-size: 3rem;
  }

  .home_page_subtitle {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 440px) {
  .sale {
    padding: 1.5rem;
  }

  .sale_text {
    font-size: 1.7rem;
  }

  .sale_img {
    position: static;
    transform: none;
  }
}
