.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--transparent-background);
  border-radius: 1rem;
}

.home_page_title {
  font-size: 4rem;
}

.home_page_subtitle {
  font-family: var(--main-font);
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

.accent_text {
  color: var(--accent-color-light);
  font-weight: bold;
}

@media screen and (max-width: 790px) {
  .home_page_title {
    font-size: 3.3rem;
  }

  .home_page_subtitle {
    font-size: 1.9rem;
  }

  .home_page {
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .home_page_title {
    font-size: 3rem;
  }

  .home_page_subtitle {
    font-size: 1.7rem;
  }
}
