.video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3.5rem;
  width: 60vw;
  height: max-content;
  min-height: 100dvh;
  margin: -7.5rem auto 0 auto;
  max-width: 600px;
  padding: 2.5rem 1.5rem;
  color: #ffffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.882) 5%, rgb(35, 35, 35) 100%);
  box-shadow: 0 0 1.5rem 0.3rem rgb(26, 26, 26);
}
