.main {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding: var(--header-height) 2rem 0;
}
@media (max-width: 860px) {
  .main {
    padding: var(--header-height) 6rem 0;
  }
}

@media (max-width: 580px) {
  .main {
    padding: var(--header-height) 4rem 0;
  }
}
