.clear_cart_wrapper {
  z-index: 4;
  position: relative;
  display: flex;
  justify-content: center;
  width: max-content;
  margin: 4rem auto;
}

.trash {
  width: 2rem;
  margin-left: 1rem;
}

.confirm_wrapper {
  position: absolute;
  top: 100%;
  opacity: 0;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 2rem;
  clip-path: polygon(100% 7%, 100% 100%, 0 100%, 0 7%, 40% 7%, 50% 0, 60% 7%);
  transform: translateY(0) scale(0);
  transform-origin: top;
  text-align: center;
  background-color: var(--dark-transparent-background);
  backdrop-filter: blur(0.5rem);
  transition: 0.4s cubic-bezier(0.175, 0.7, 0.2, 1.15);
}

.confirm_wrapper.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

.confirm_title {
  grid-row-start: 1;
  grid-column: 1 / 3;
}

.confirm_btn,
.cancel_btn {
  width: 100%;
  grid-row-start: 2;
}

.confirm_btn {
  grid-column-start: 1;
}

.cancel_btn {
  grid-column-start: 2;
}
