.filters {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.filter_item {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 640px) {
  .filters {
    justify-content: center;
  }
}
