.titleAddition {
  position: absolute;
  top: 30px;
  font-family: var(--decorative-font);
  font-size: 2.5rem;
  width: max-content;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #707070 0, white 30%, #707070 40%);
  background-size: 50%;
  background-clip: text;
  color: transparent;
  animation: shine 2.2s linear infinite;
}

.titleMain {
  margin: 18% 0 20px 0;
  font-family: var(--decorative-font);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}
