.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 1rem;
}
.filters_wrapper {
  display: flex;
  justify-content: space-between;
}
