.burger_button {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .burger_button {
    cursor: pointer;
  }
}

@media (max-width: 860px) {
  .burger_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    background: none;
    border: none;
    width: 3rem;
    height: 2.5rem;
  }

  .line {
    position: relative;
    width: 100%;
    height: 0.3rem;
    border-radius: 0.1rem;
    background-color: white;
    transform-origin: right;
    transition: 0.3s 0.5s;
  }

  .line.notification::after {
    content: '';
    position: absolute;
    left: calc(100% + 0.25rem);
    top: -0.21rem;
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--accent-color-light);
    border-radius: 50%;
    transition: 0.3s;
  }

  .burger_button.open .line.notification::after {
    opacity: 0;
  }

  .line:nth-child(1) {
    align-self: flex-start;
    width: 70%;
    transition: 0.3s 0.3s;
  }

  .line:nth-child(2) {
    width: calc(100% - 0.8rem);
    background-color: var(--accent-color-light);
    transition: 0.3s 0.4s;
  }

  .burger_button.open .line:nth-child(1) {
    transition: 0.3s;
  }

  .burger_button.open .line:nth-child(2) {
    transition: 0.3s 0.1s;
  }

  .burger_button.open .line:nth-child(3) {
    transition: 0.3s 0.2s;
  }

  .burger_button.open .line {
    transform: scaleX(0);
    transition: 0.3s;
  }

  .burger_button::after,
  .burger_button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    opacity: 0;
    width: 100%;
    height: 0.3rem;
    border-radius: 0.1rem;
    background-color: var(--accent-color-light);
  }

  .burger_button::after {
    transform: rotate(45deg) translate3d(-100%, 0, 0);
    transition: 0.3s;
  }

  .burger_button::before {
    transform: rotate(-45deg) translate3d(100%, 0, 0);
    transition: 0.3s 0.2s;
  }

  .burger_button.open::after {
    opacity: 1;
    transform: rotate(45deg) translate3d(0, 0, 0);
    transition: 0.3s 0.3s;
  }

  .burger_button.open::before {
    opacity: 1;
    transform: rotate(-45deg) translate3d(0, 0, 0);
    transition: 0.3s 0.48s;
  }
}
