.header {
  z-index: 1;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--header-background);
  backdrop-filter: blur(5px);
}
