.editor_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}

.underline {
  animation: flashing 1s step-end infinite;
  font-size: 3rem;
}

@keyframes flashing {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}
