nav {
  margin-left: auto;
  transition: transform 0.3s linear;
}

.navigation_list {
  display: flex;
  gap: 4rem;
  align-items: center;
  width: 100%;
}

.nav_link {
  position: relative;
  letter-spacing: 2px;
  transition: 0.3s;
}

.active {
  text-shadow: 0 0 5px #ffffff;
  cursor: default;
}

.nav_link::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #ffffff;
  box-shadow: 0 0 12px 0.5px transparent;
  border-radius: 1rem;
  transition:
    transform 0.5s cubic-bezier(0.2, 1, 0.2, 1),
    box-shadow 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}

.active::before {
  transform: scaleX(1);
  box-shadow: 0 3px 12px 1px var(--light-shadow-color);
}

@media (hover: hover) and (pointer: fine) {
  .nav_link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@media (max-width: 860px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100dvh - var(--header-height));
    position: fixed;
    overflow: auto;
    top: var(--header-height);
    right: 0;
    opacity: 0.2;
    visibility: hidden;
    background-color: var(--bg-color);
    transform-origin: bottom left;
    transform: scale(0);
    transition:
      transform 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      opacity 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      visibility 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      border-radius 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .navigation_list {
    flex: 1;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
  }

  .navigation_list li {
    opacity: 0;
    margin: 1rem 0;
    transform: translateX(200%);
    transition: 0.3s;
  }

  .nav.open {
    opacity: 1;
    transform: scale(1);
    transform-origin: top right;
    visibility: visible;
  }

  .nav.open .navigation_list li {
    opacity: 1;
    transform: none;
  }

  .nav.open .navigation_list li:nth-child(1) {
    transition-delay: 0.25s;
  }
  .nav.open .navigation_list li:nth-child(2) {
    transition-delay: 0.35s;
  }
  .nav.open .navigation_list li:nth-child(3) {
    transition-delay: 0.45s;
  }
  .nav.open .navigation_list li:nth-child(4) {
    transition-delay: 0.55s;
  }
  .nav.open .navigation_list li:nth-child(5) {
    transition-delay: 0.65s;
  }
}
