.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 1.5rem 0;
  padding: 1.5rem 2.5rem;
  outline: 2px solid rgb(80, 80, 80);
  transition: 0.3s;
}

.form:has([type='password']:focus) {
  outline: 2px solid var(--accent-color-light);
  box-shadow:
    0 0 10px 1px var(--accent-color-light),
    inset 0 0 10px 1px var(--accent-color-light);
}

.title {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 1.8rem;
}

.password_icon {
  width: 3rem;
}

.form label {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.button {
  width: 50%;
}
