.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  border-right: none;
  outline: none;
  background: linear-gradient(0deg, rgba(33, 33, 33, 1) 0%, rgba(80, 80, 80, 1) 100%);
  box-shadow: 0 0.8rem 1.6rem 1px #000000;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
}

.buttonText {
  overflow: hidden;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 6rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

.buttonText::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.4s;
}

.button::after,
.button::before {
  content: '';
  z-index: 0;
  position: absolute;
  width: 3rem;
  height: 0.5rem;
  background-color: var(--highlight-color);
  box-shadow:
    0 0 0.5rem var(--highlight-color),
    0 0 1.5rem var(--highlight-color),
    0 0 3rem var(--highlight-color),
    0 0 6rem var(--highlight-color);
  border-radius: 1rem 1rem 0 0;
  transition: 0.4s;
}

.button::after {
  top: -0.5rem;
}

.button::before {
  bottom: -0.5rem;
  border-radius: 0 0 1rem 1rem;
}
@media (hover: hover) and (pointer: fine) {
  .buttonText:hover::after {
    transform: skewX(45deg) translate(110%);
  }

  .button:hover::after,
  .button:hover::before {
    width: 80%;
    height: 50%;
    border-radius: 3rem;
  }

  .button:hover::after {
    top: 0;
  }

  .button:hover::before {
    bottom: 0;
  }
}
