.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title_wrapper {
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-background);
  font-weight: 200;
  position: relative;
  padding: 0.5rem;
  z-index: 2000;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in;
}

.title {
  padding: 1rem;
}

.highlighted {
  box-shadow: 0 0 1.5rem 0.2rem var(--accent-color-light);
}

.content {
  height: 3rem;
  border-radius: 0.8rem;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  position: relative;
  z-index: 1000;
  margin-top: -3rem;
  transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.open {
  margin-top: 0;
  height: 15rem;
  overflow-x: hidden;
  background-color: var(--transparent-background);
  opacity: 0.8;
  transition: all 350ms cubic-bezier(0.08, 1.09, 0.32, 1.275);
}

.content_text {
  padding: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in;
}

.content_text_open {
  visibility: visible;
  opacity: 1;
  transition: all 800ms ease-in;
}

@media screen and (max-width: 768px) {
  .open {
    height: 20rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .title_wrapper:hover {
    cursor: pointer;
    box-shadow: 0 0 1.5rem 0.2rem var(--accent-color-light);
  }
}
