@font-face {
  font-family: Megatrans;
  src: url(assets/fonts/megatrans-regular.otf);
}

@font-face {
  font-family: Dune;
  src: url(assets/fonts/Dune_Rise.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #171717;
  --text-color: #f5f7fc;
  --main-font: Megatrans;
  --decorative-font: Dune;
}
html {
  font-size: 10px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: var(--main-font), serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  background-color: #000000;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: dodgerblue;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(22, 104, 186);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(16, 80, 145);
}
